body {
    background-color: #c9d1d3;
}
.table-light{
    background-color:  #1b2a49!important;
}
.align-middle{
    color: #c9d1d3;
}
#button{
    color: #c9d1d3;
    font-weight: bold;
    background-color: #1b2a49
}
.judul{
    color: #1b2a49;
    padding-top: 5%;
    padding-bottom: 3%;
    
}
#input{
    background-color: #fffdf9;
    color: #1b2a49
}
